.header {
    height: 80px;
    background-color: #1C2B35;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 140px;
}

a {
    color: whitesmoke;
    text-decoration: none;
    font-size: 18px;
    margin-left: 35px;
}

a:hover {
    color: tomato;
}