.container {
    display: grid;
    grid-template-columns: 4fr 1fr;
}

.item-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 45px;
    margin-top: 80px;
    margin-left: 60px;
    margin-right: 60px;
}

.cart-container {
    background-color: #FFE0B3;
}